/* Primary Colors */
$Atlantis:  #69be28;
$Orient: #005c84;
$White: #ffffff;

$PrimaryColor1: $Atlantis;
$PrimaryColor2: $Orient;
$PrimaryColor3: $White;
/* End Primary Colors */

/* Secondary Colors */
$DeepCerulean: #0075b0;
$Apple: #3f9c35;
$Cerulean: #009fda;

$SecondaryColor1: $DeepCerulean;
$SecondaryColor2: $Apple;
$SecondaryColor3: $Cerulean;
/* End Secondary Colors */

/* GreyScale Colors */
$Black: #000000;
$Scorpion: #5d5d5d;
$DustyGray: #999999;
$Silver: #cccccc;
$Mercury: #e6e6e6;
$Concrete: #f2f2f2;

$GreyScaleColor1: $Black;
$GreyScaleColor2: $Scorpion;
$GreyScaleColor3: $DustyGray;
$GreyScaleColor4: $Silver;
$GreyScaleColor5: $Mercury;
$GreyScaleColor6: $Concrete;
/* End GreyScale Colors */

/* Additional Colors */
$Pomegranate: #ef4036;
$TreePoppy: #ff9c1b;
$ChileanHeath: #fffce4;

$AdditionalColor1: $Pomegranate;
$AdditionalColor2: $TreePoppy;
$AdditionalColor3: $ChileanHeath;

/* Background Color */
$FountainBlue: #57c3c9;
$LightCerulean: #009dda;
/* Mentionining this as an additional color to be more flexible, rather than a background color */
$AdditionalColor4: $FountainBlue;
$AdditionalColor5: $LightCerulean;
/* End Background Color */
